<!DOCTYPE html>
<html>
	<head>
		<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
		<META HTTP-EQUIV="Expires" CONTENT="-1">
		<title>ChattyOne</title>
        <!-- external css -->
		<!-- external scripts -->
        <script src="https://cdn.socket.io/socket.io-1.1.0.js"></script>  
		<script src="js/jquery-1.10.1.min.js"></script>
        <script src="js/dropzone.js"></script>    
		<!-- custom css -->
		<link href="css/main.css" rel="stylesheet">            
		<!-- custom scripts -->
		<script defer src="js/main.js"></script>
    </head>
	<body>
        <div id='main' class='main'>
            <div id='chat-main' class='main chat-main'>Starting Chat</div>
            <input id='chat-input' class='main chat-input' type='text'>
        </div>

        
	</body>
</html>
