<!DOCTYPE html>
<html>
    <head>
        <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
        <META HTTP-EQUIV="Expires" CONTENT="-1">
        <title>ChattyOne</title>
        <!-- external css -->
        <!-- external scripts -->
        <!-- custom css -->
        <link href="css/main.css" rel="stylesheet">
        <!-- custom scripts -->
    </head>
    <body>
        <div id='main' class='main'>

            <form method="post" enctype="multipart/form-data" action="/upload">
            <input type="file" name="file">
            <input type="submit">
            </form>
        </div>


    </body>
</html>
